*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
img{
    width: 100%;
    /* height: 100%; */
    z-index: -1;
    position: fixed;
}
.container {
    /* border: 2px solid green; */
    background-color: rgb(240, 215, 182);
    width: 500px;
    /* height: 988px; */
    /* position: relative; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    margin-left: 650px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    position: absolute;
    margin-top: 100px;
    }
h1{
    margin-bottom: 30px;
    font-family: sans-serif;
    color:darkslategrey;
}
#loanForm div{
    margin-bottom: 27px;
}
#personalLoanFields label {
    display: flex;
    justify-content: flex-start;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 6px;
    /* background-color: aquamarine; */
    padding-top: 10px;
    margin-left: 20px;
}
#personalLoanFields input{
    margin-left: 20px;
}
#personalLoanFields select{
    margin-left: 20px;
}
#homeLoanFields label {
    display: flex;
    justify-content: flex-start;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 6px;
    /* background-color: aquamarine; */
    padding-top: 10px;
    margin-left: 20px;
  }
#homeLoanFields input{
    margin-left: 20px;
}
#homeLoanFields select{
    margin-left: 20px;
}
label{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(80, 19, 137);
}
input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
select{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button{
    margin-top: 40px;
    padding: 10px;
    color: azure;
    border-radius: 5px;
    background-color: chocolate;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in;
}
button:hover{
    background-color:rgb(27, 150, 62) ;
}
.error {
    color: red;
    margin-top: 5px;
}
@media (max-width:1200px) {
    .container{
        margin-right: 20%;
    }
    
}